.icon-16 {
  width: 16px;
  height: 16px;
  background: url(./images/icon-16@2x.png) no-repeat;
  background-size: (858px/2) (36px/2);
}

.icon-16 {
  &.icon-right {
    background-position: (-1px-32*0-14*0) -1px;
  }

  &.icon-aircraft {
    background-position: (-1px-32*1-14*1) -1px;
  }

  &.icon-money {
    background-position: (-1px-32*2-14*2) -1px;
  }

  &.icon-info {
    background-position: (-1px-32*3-14*3) -1px;
  }

  &.icon-chart {
    background-position: (-1px-32*4-14*4+1) -1px;
  }

  &.icon-spot-green {
    background-position: (-1px-32*5-14*5+1) -1px;
  }

  &.icon-spot-blue {
    background-position: (-1px-32*6-14*6+2) -1px;
  }

  &.icon-spot-orange {
    background-position: (-1px-32*7-14*7+3) -1px;
  }
  &.icon-people {
    background-position: (-1px-32*8-14*8+3) -1px;
  }
  &.icon-setting {
    background-position: (-1px-32*9-14*9+4) -1px;
  }
}
