.icon-18 {
  width: 18px;
  height: 18px;
  background: no-repeat;
  background-size: 18px 18px;
}

.icon-18 {

  &.icon-notebook {
    background-image: url(./images/icon-18-2@2x.png);
  }

  &.icon-pencli {
    background-image: url(./images/icon-18-1@2x.png);
  }
}
