/**
 * reset
 *
 * @author Ma Junbao <mlive@live.cn> || @github.com/majunbao
*/
a,
abbr,
address,
article,
aside,
audio,
b,
blockquote,
body,
caption,
cite,
code,
dd,
del,
dfn,
dialog,
div,
dl,
dt,
em,
fieldset,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
hr,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
p,
pre,
q,
samp,
section,
small,
span,
strong,
sub,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
ul,
var,
video {
  border: 0;
  margin: 0;
  outline: 0;
  padding: 0;
  font-size: 100%;
  font-weight: normal;
}

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block;
}

audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

audio:not([controls]) {
  display: none;
}

[hidden] {
  display: none;
}

html {
  width: 100%;
  height: 100%;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-y: visible !important;
}

a {
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
  font-size: 0;
}

ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

th, td, caption {
  vertical-align: top;
  // text-align: left;
}

.icon {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  background: none;
  border: 0;
}

::-ms-clear, ::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}



body, input, textarea, keygen, select, button {
  color: #333;
  font-size: 14px;
  font-family: "PingHei","Lucida Grande", "Lucida Sans Unicode", "Helvetica","Arial","Verdana","sans-serif";
}

body, input, textarea, select, button {
  // text-rendering: optimizeLegibility;
  // -webkit-font-smoothing: antialiased;
  // -moz-osx-font-smoothing: grayscale;
  // -moz-font-feature-settings: "liga", "kern";
}

*:active,*:focus {
  outline: none; 
}

.input, textarea, .button{
  /*去除ios webkit默认样式*/
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
}

