/*
* Base Botton Style
*
* The default values for the .botton class
*/

#{$btn-namespace} {
  display: inline-block;
  cursor: pointer;
  border: none;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  font-size: $btn-font-size;
  /*button colors*/
  color: $btn-color;
  background: $btn-background;
  /*button shapes*/
  min-width: $btn-width - $btn-padding * 2 - $btn-border-width*2;
  padding: 0 $btn-padding;
  height: $btn-height - $btn-border-width*2;
  line-height: $btn-height - $btn-border-width*2;
  border-radius: $btn-border-radius;
  border-width: $btn-border-width;
  border-style: solid;
  border-color: $btn-border-color;
  transition-property: background-color, color, border-color;
  transition-duration: 0.3s;
  -webkit-user-select: none;
  box-sizing: content-box;
  &:hover {
    background: lighten($btn-border-color, 3%);
  }
  &:active {
    background: desaturate($btn-background, 10%);
    text-shadow: 0 1px 0 rgba(255, 255, 255, .3);
  }
  // 兼容 uploadify 插件
  & object {
    width: 100% !important;
    height: 100% !important;
  }
}


/**
* Disabled State
*
*/

#{$btn-namespace}-disabled,
#{$btn-namespace}-disabled:hover {
  background: $disabled !important;
  border-color: $disabled !important;
  color: #fff !important;
  cursor: not-allowed;
}


/**
* Button color
*
*/

@include btn-colors;

/**
* Button size
*
*/

@include btn-sizes;
