/*
* Option Button
*/

/*
* Button Namespace
* 
* 默认是 .button ，根据喜好也可设置为 .btn
*/
$btn-namespace: '.button' !default;

/*
* Button Defaults
*
* 根据其他项目改变这些设置。
* 按钮的宽度没有直接用 width 属性设置，而是采用 min-width + padding 的方式，
* 这样按钮有了最小宽度，文字过多时宽度也会自动扩展。
*
* 按钮的高度 采用 height 和 line-height 的方式控制。
* 
*/
$btn-width: 110 !default;
$btn-padding: 10px !default;
$btn-height: 30px !default;
$btn-font-size: 14px !default;
$btn-border-radius: 0 !default;
$btn-color: $text-dark !default;
$btn-background: transparent !default;
$btn-border-color: #D9D9D9;
$btn-border-width: 1px;

/*
* Button Colors
*
* (name, background, color)
* 
*/
$btn-colors:  (blue $blue #FFF)
              (green $green #FFF)
              (orange $orange #FFF)
              (while #FFF black)
              (grey $grey #FFF) 
              !default;


/*
* Button Shapes
*
*/

/*
* Button Sizes
*
* (name width height padding font-size)
* 
* smallest smaller small default large larger largest
*/
$btn-sizes: (smaller 28px 20px 4px 14px)
            (small 72px 24px 5px 12px)
            (thin 124px 36px 35px 14px)
            (large 180px 46px 10px 16px)
            (larger 320px 46px 14px 20px) !default;