/*兼容*/
.ie6 .button{
  padding:0 25px;
  display: inline;
  zoom: 1;
}
.ie6 .button.large{
  width:88px;
}
.ie6 .button.larger{
  width:268px;
}
.ie6 .button.small{
  width: 55px;
  height: 22px;
  line-height: 22px;
  padding: 0 5px;
}
.ie6 .button.smaller{

  height: 22px;
  line-height: 22px;
  padding:0 6px;
}