/*
* Tab Config
*/

$tab-namespace: '.tab' !default;

$tab-header-height: 38px;


#{$tab-namespace} {
  position: relative;
}
#{$tab-namespace} ul#{$tab-namespace}-header{
  height: $tab-header-height;
}
#{$tab-namespace} ul#{$tab-namespace}-header li{
  float: left;
  height: 100%;
}
#{$tab-namespace} ul#{$tab-namespace}-header li a {
  display: inline-block;
  background-color: $theme;
  text-align: center;
  padding: 0 10px;
  min-width: 80px;
  text-decoration: none;
  color: #fff;
  height: 100%;
  line-height: $tab-header-height;
  border-left: 1px solid desaturate($theme, 20%);
}
#{$tab-namespace} ul#{$tab-namespace}-header li.now a{
  color: #000;
  font-weight: bold;
  background-color: #f4f5f9;
}
#{$tab-namespace} div#{$tab-namespace}-content{
  display: none;
}
#{$tab-namespace} div#{$tab-namespace}-content.now{
  display: block;
  padding: 15px 10px;
  background-color: #f4f5f9;
}

/*兼容*/
.ie6 #{$tab-namespace} div.now,
.ie7 #{$tab-namespace} div.now{
  /*这个不用display:block;是为了兼容IE67浏览器*/
  display: inline-block;
}
.ie6 #{$tab-namespace} ul#{$tab-namespace}-header li a{
  width: expression(this.scrollWidth>100?'auto':'79px');
}

