#{$input-namespace} {
  margin: 0;
  outline: none;
  vertical-align: middle;
  padding: $input-padding;
  width: $input-width;
  line-height: $input-height;
  *line-height: 1;
  height: $input-height;
  border-style: solid;
  border-width: $input-border-width;
  border-color: $input-border-color;
  color: $input-color;
  border-radius: $input-radius;
}

#{$input-namespace}:hover {
  border-color: lighten($blue, 10%)
}

#{$input-namespace}:active,
#{$input-namespace}:focus {
  border-color: $blue
}


/**
* Disabled State
*
*/

#{$input-namespace}-disabled,
#{$input-namespace}-disabled:hover {
  background: $disabled !important;
  border-color: $disabled !important;
  color: #fff !important;
  cursor: not-allowed;
}


/**
* Input colors
*
*/

@include input-colors;

/**
* Input sizes
*
*/

@include input-sizes;
