/*
 * select plugin
 *
 */

.select {
  position: relative;
  border: 1px solid #DFDFDF;
  // width: 148px;
  min-width: 108px;
  *width: 108px;
  padding:0 30px 0 0;
  height: 28px;
  border-radius: 28px;
  line-height: 28px;
  display: inline-block;
  *zoom: 1;
  *display: inline;
  vertical-align: middle;
  color: #333;
  cursor: pointer;
  overflow: hidden;
}

.select:hover i{
  background-position: -14px -43px;
}

.select .btn-select {
  display: block;
  padding-left: 14px;
}

.select select {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 0;
  opacity: 0.001;
  filter: alpha(opacity=0.1);
  z-index: 2;
  border:none;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.select select:hover{
  cursor: pointer;
}

.select i {
  position: absolute;
  right: 9px;
  top: 50%;
  margin-top: -3px;
  z-index: 1;
  display: block;
  width: 12px;
  height: 7px;
  background: url(../images/form.png) no-repeat 0 -43px;
}

.select:after {
  content: '';
  display: block;
  width: 30px;
  height: 100%;
  right: 0;
  top: 0;
  position: absolute;
  background-color: #f6f6f6;
}

.select:hover {
  border-color: lighten($blue, 10%);
  cursor: pointer;
}

.select:active,
.select:focus {
  border-color: $blue;;
}



.select-disabled {
  opacity: 0.4;
  filter: alpha(opacity=40);
}
.select-disabled select:hover{
  cursor: not-allowed;
}
.select-disabled i{
  opacity: 0.4;
  filter: alpha(opacity=40);
}

.select-larger {
  width: 188px;
  height: 46px;
  line-height: 46px;
  font-size: 16px;
}

.select-larger select {
  font-size: 16px;
}

.select-small {
  font-size: 12px;
  background-color: #fff;
  line-height: 22px;
  height: 22px;
  min-width: 46px;
  *width: 46px;
  padding-right: 22px;
}
.select-small:after {
  width: 22px;
}
.select-small i{
  right: 6px
}

.select-small select {
  font-size: 16px;
}

// 样式
.select-light{}