$blue: #46a2f6;

$green: #2ec07e;

$orange: #fcae25;

$grey: #bababa;

$dark: #3f3f4d;

$link: #5ecbf2;
$disabled: #dde2ef;

$text: #333;
$text-light: #999;
$text-dark: #333333;

$radius: 3px;

$theme: $blue;
$theme-bg: #ecf1f5;