@import "../../theme/index.scss";

/*
* Config
*/

$textarea-namespace: '.textarea' !default;
$textarea-width: 400px !default;
$textarea-height: 110px !default;
$textarea-padding: 10px !default;
$textarea-border-color: $input-border-color !default;
$textarea-border-width: 1px;
$textarea-colors: (blue $blue) (green $green) (orange $orange) !default;

/*
* Mixin
*/

@mixin textarea-colors {
  @each $textarea-color in $textarea-colors {
    $textarea-name: nth($textarea-color, 1);
    $textarea-border-color: nth($textarea-color, 2);
    $textarea-color-namespace: '.' + $textarea-name + '-' + $textarea-name;
  }
}


/*
* Base
*/

#{$textarea-namespace} {
  margin: 0;
  border: 0;
  outline: none;
  overflow: auto;
  border: $textarea-border-width solid $textarea-border-color;
  padding: $textarea-padding;
  width: $textarea-width - $textarea-padding*2 - $textarea-border-width*2;
  min-height: $textarea-height - $textarea-padding*2 - $textarea-border-width*2;
}

#{$textarea-namespace}:hover {
  border-color: lighten($blue, 10%)
}

#{$textarea-namespace}:focus,
#{$textarea-namespace}:active {
  border-color: $blue
}

#{$textarea-namespace}[disabled],
#{$textarea-namespace}-disabled {
  background: $input-disabled !important;
  border-color: #dcdcdc !important;
  color: #999 !important;
  cursor: not-allowed;
}

#{$textarea-namespace}[disabled]:hover,
#{$textarea-namespace}[disabled]:focus #{$textarea-namespace}-disabled:hover,
#{$textarea-namespace}-disabled:focus {
  cursor: not-allowed;
}

@include textarea-colors;


/*兼容*/

.ie6 textarea {
  height: 88px;
  background-color: transparent;
}
