@charset "UTF-8";
/**
 * reset
 *
 * @author Ma Junbao <mlive@live.cn> || @github.com/majunbao
*/
a,
abbr,
address,
article,
aside,
audio,
b,
blockquote,
body,
caption,
cite,
code,
dd,
del,
dfn,
dialog,
div,
dl,
dt,
em,
fieldset,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
hr,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
p,
pre,
q,
samp,
section,
small,
span,
strong,
sub,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
ul,
var,
video {
  border: 0;
  margin: 0;
  outline: 0;
  padding: 0;
  font-size: 100%;
  font-weight: normal;
}

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block;
}

audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

audio:not([controls]) {
  display: none;
}

[hidden] {
  display: none;
}

html {
  width: 100%;
  height: 100%;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-y: visible !important;
}

a {
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
  font-size: 0;
}

ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

th, td, caption {
  vertical-align: top;
}

.icon {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  background: none;
  border: 0;
}

::-ms-clear, ::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

body, input, textarea, keygen, select, button {
  color: #333;
  font-size: 14px;
  font-family: "PingHei","Lucida Grande", "Lucida Sans Unicode", "Helvetica","Arial","Verdana","sans-serif";
}

*:active, *:focus {
  outline: none;
}

.input, textarea, .button {
  /*去除ios webkit默认样式*/
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
}
.clear:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.clear {
  *zoom: 1;
}

.on-left {
  float: left !important;
}

.on-right {
  float: right !important;
}

.block {
  display: block;
}

.inline {
  display: inline-block;
  zoom: 1;
  *display: inline;
}

.none {
  display: none !important;
}

.hidden {
  overflow: hidden;
}

.visible {
  visibility: visible;
}

.vhidden {
  visibility: hidden;
}
.cblue {
  color: #56bbff;
}

.cgreen {
  color: #4ad587;
}

.corange {
  color: #ffa438;
}

.cred {
  color: #f45c5c;
}

.c000 {
  color: #000;
}

.c555 {
  color: #555;
}

.c777 {
  color: #777;
}

.c999 {
  color: #999;
}
.f12 {
  font-size: 12px !important;
}

.f14 {
  font-size: 14px !important;
}

.f16 {
  font-size: 16px !important;
}

.f18 {
  font-size: 18px !important;
}

.f20 {
  font-size: 20px !important;
}

.f22 {
  font-size: 22px !important;
}

.f24 {
  font-size: 24px !important;
}

.f26 {
  font-size: 26px !important;
}

.f28 {
  font-size: 28px !important;
}

.f30 {
  font-size: 30px !important;
}
@charset "UTF-8";
/*
* Option Button
*/
/*
* Button Namespace
* 
* 默认是 .button ，根据喜好也可设置为 .btn
*/
/*
* Button Defaults
*
* 根据其他项目改变这些设置。
* 按钮的宽度没有直接用 width 属性设置，而是采用 min-width + padding 的方式，
* 这样按钮有了最小宽度，文字过多时宽度也会自动扩展。
*
* 按钮的高度 采用 height 和 line-height 的方式控制。
* 
*/
/*
* Button Colors
*
* (name, background, color)
* 
*/
/*
* Button Shapes
*
*/
/*
* Button Sizes
*
* (name width height padding font-size)
* 
* smallest smaller small default large larger largest
*/
/*尺寸*/
/*
* Base Botton Style
*
* The default values for the .botton class
*/
.button {
  display: inline-block;
  cursor: pointer;
  border: none;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  font-size: 14px;
  /*button colors*/
  color: #333333;
  background: transparent;
  /*button shapes*/
  min-width: 78px;
  padding: 0 10px;
  height: 28px;
  line-height: 28px;
  border-radius: 4px;
  border-width: 1px;
  border-style: solid;
  border-color: #D9D9D9;
  transition-property: background-color, color, border-color;
  transition-duration: 0.3s;
  -webkit-user-select: none;
  box-sizing: content-box;
}

.button:hover {
  background: #e1e1e1;
}

.button:active {
  background: transparent;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
}

.button object {
  width: 100% !important;
  height: 100% !important;
}

/**
* Disabled State
*
*/
.button-disabled,
.button-disabled:hover {
  background: #CDCDCD !important;
  border-color: #CDCDCD !important;
  color: #fff !important;
  cursor: not-allowed;
}

/**
* Button color
*
*/
.button-blue {
  background-color: #56BBFF;
  border-color: #56BBFF;
  color: #FFF;
}

.button-blue:hover {
  background-color: #89d0ff;
  color: #FFF;
}

.button-blue:active {
  background-color: #5eb9f7;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
}

.button-green {
  background-color: #4AD587;
  border-color: #4AD587;
  color: #FFF;
}

.button-green:hover {
  background-color: #73dfa2;
  color: #FFF;
}

.button-green:active {
  background-color: #55ca88;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
}

.button-orange {
  background-color: #FFA438;
  border-color: #FFA438;
  color: #FFF;
}

.button-orange:hover {
  background-color: #ffbb6b;
  color: #FFF;
}

.button-orange:active {
  background-color: #f5a342;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
}

.button-red {
  background-color: #F45C5C;
  border-color: #F45C5C;
  color: #FFF;
}

.button-red:hover {
  background-color: #f78c8c;
  color: #FFF;
}

.button-red:active {
  background-color: #eb6565;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
}

.button-white {
  background-color: #fff;
  border-color: #fff;
  color: #56BBFF;
}

.button-white:hover {
  background-color: white;
  color: #56BBFF;
}

.button-white:active {
  background-color: white;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
}

.button-grey {
  background-color: #bababa;
  border-color: #bababa;
  color: #FFF;
}

.button-grey:hover {
  background-color: #d4d4d4;
  color: #FFF;
}

.button-grey:active {
  background-color: #bababa;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
}

/**
* Button size
*
*/
.button-smaller {
  min-width: 70px;
  padding: 0 5px;
  height: 24px;
  line-height: 24px;
  font-size: 14px;
}

.button-small {
  min-width: 70px;
  padding: 0 5px;
  height: 28px;
  line-height: 28px;
  font-size: 14px;
}

.button-large {
  min-width: 98px;
  padding: 0 10px;
  height: 34px;
  line-height: 34px;
  font-size: 16px;
}

.button-larger {
  min-width: 310px;
  padding: 0 14px;
  height: 42px;
  line-height: 42px;
  font-size: 16px;
}

.button-border {
  background: none;
}

.button-border:hover {
  background: #fff;
  color: #333333;
}

.button-border:active {
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
  border-color: transparent;
}

.button-border.button-blue {
  color: #56BBFF;
}

.button-border.button-blue:hover {
  background: #5eb9f7;
  color: #FFF;
  border-color: #5eb9f7;
}

.button-border.button-blue:active {
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
  border-color: #19a2ff;
}

.button-border.button-green {
  color: #4AD587;
}

.button-border.button-green:hover {
  background: #55ca88;
  color: #FFF;
  border-color: #55ca88;
}

.button-border.button-green:active {
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
  border-color: #2bb768;
}

.button-border.button-orange {
  color: #FFA438;
}

.button-border.button-orange:hover {
  background: #f5a342;
  color: #FFF;
  border-color: #f5a342;
}

.button-border.button-orange:active {
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
  border-color: #fa8800;
}

.button-border.button-red {
  color: #F45C5C;
}

.button-border.button-red:hover {
  background: #eb6565;
  color: #FFF;
  border-color: #eb6565;
}

.button-border.button-red:active {
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
  border-color: #f02323;
}

.button-border.button-white {
  color: #fff;
}

.button-border.button-white:hover {
  background: white;
  color: #56BBFF;
  border-color: white;
}

.button-border.button-white:active {
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
  border-color: #e0e0e0;
}

.button-border.button-grey {
  color: #bababa;
}

.button-border.button-grey:hover {
  background: #bababa;
  color: #FFF;
  border-color: #bababa;
}

.button-border.button-grey:active {
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
  border-color: #9b9b9b;
}

.button-radius {
  border-radius: 200px;
}

.button-white:hover {
  color: #25A7FF;
}
.margin-0 {
  margin: 0px !important;
}

.margin-5 {
  margin: 5px !important;
}

.margin-10 {
  margin: 10px !important;
}

.margin-15 {
  margin: 15px !important;
}

.margin-20 {
  margin: 20px !important;
}

.margin-25 {
  margin: 25px !important;
}

.margin-30 {
  margin: 30px !important;
}

.margin-35 {
  margin: 35px !important;
}

.margin-40 {
  margin: 40px !important;
}

.margin-45 {
  margin: 45px !important;
}

.margin-50 {
  margin: 50px !important;
}

.margin-55 {
  margin: 55px !important;
}

.margin-60 {
  margin: 60px !important;
}

.margin-top-0 {
  margin-top: 0px !important;
}

.margin-top-5 {
  margin-top: 5px !important;
}

.margin-top-10 {
  margin-top: 10px !important;
}

.margin-top-15 {
  margin-top: 15px !important;
}

.margin-top-20 {
  margin-top: 20px !important;
}

.margin-top-25 {
  margin-top: 25px !important;
}

.margin-top-30 {
  margin-top: 30px !important;
}

.margin-top-35 {
  margin-top: 35px !important;
}

.margin-top-40 {
  margin-top: 40px !important;
}

.margin-top-45 {
  margin-top: 45px !important;
}

.margin-top-50 {
  margin-top: 50px !important;
}

.margin-top-55 {
  margin-top: 55px !important;
}

.margin-top-60 {
  margin-top: 60px !important;
}

.margin-right-0 {
  margin-right: 0px !important;
}

.margin-right-5 {
  margin-right: 5px !important;
}

.margin-right-10 {
  margin-right: 10px !important;
}

.margin-right-15 {
  margin-right: 15px !important;
}

.margin-right-20 {
  margin-right: 20px !important;
}

.margin-right-25 {
  margin-right: 25px !important;
}

.margin-right-30 {
  margin-right: 30px !important;
}

.margin-right-35 {
  margin-right: 35px !important;
}

.margin-right-40 {
  margin-right: 40px !important;
}

.margin-right-45 {
  margin-right: 45px !important;
}

.margin-right-50 {
  margin-right: 50px !important;
}

.margin-right-55 {
  margin-right: 55px !important;
}

.margin-right-60 {
  margin-right: 60px !important;
}

.margin-bottom-0 {
  margin-bottom: 0px !important;
}

.margin-bottom-5 {
  margin-bottom: 5px !important;
}

.margin-bottom-10 {
  margin-bottom: 10px !important;
}

.margin-bottom-15 {
  margin-bottom: 15px !important;
}

.margin-bottom-20 {
  margin-bottom: 20px !important;
}

.margin-bottom-25 {
  margin-bottom: 25px !important;
}

.margin-bottom-30 {
  margin-bottom: 30px !important;
}

.margin-bottom-35 {
  margin-bottom: 35px !important;
}

.margin-bottom-40 {
  margin-bottom: 40px !important;
}

.margin-bottom-45 {
  margin-bottom: 45px !important;
}

.margin-bottom-50 {
  margin-bottom: 50px !important;
}

.margin-bottom-55 {
  margin-bottom: 55px !important;
}

.margin-bottom-60 {
  margin-bottom: 60px !important;
}

.margin-left-0 {
  margin-left: 0px !important;
}

.margin-left-5 {
  margin-left: 5px !important;
}

.margin-left-10 {
  margin-left: 10px !important;
}

.margin-left-15 {
  margin-left: 15px !important;
}

.margin-left-20 {
  margin-left: 20px !important;
}

.margin-left-25 {
  margin-left: 25px !important;
}

.margin-left-30 {
  margin-left: 30px !important;
}

.margin-left-35 {
  margin-left: 35px !important;
}

.margin-left-40 {
  margin-left: 40px !important;
}

.margin-left-45 {
  margin-left: 45px !important;
}

.margin-left-50 {
  margin-left: 50px !important;
}

.margin-left-55 {
  margin-left: 55px !important;
}

.margin-left-60 {
  margin-left: 60px !important;
}

.padding-0 {
  padding: 0px !important;
}

.padding-5 {
  padding: 5px !important;
}

.padding-10 {
  padding: 10px !important;
}

.padding-15 {
  padding: 15px !important;
}

.padding-20 {
  padding: 20px !important;
}

.padding-25 {
  padding: 25px !important;
}

.padding-30 {
  padding: 30px !important;
}

.padding-35 {
  padding: 35px !important;
}

.padding-40 {
  padding: 40px !important;
}

.padding-45 {
  padding: 45px !important;
}

.padding-50 {
  padding: 50px !important;
}

.padding-55 {
  padding: 55px !important;
}

.padding-60 {
  padding: 60px !important;
}

.padding-top-0 {
  padding-top: 0px !important;
}

.padding-top-5 {
  padding-top: 5px !important;
}

.padding-top-10 {
  padding-top: 10px !important;
}

.padding-top-15 {
  padding-top: 15px !important;
}

.padding-top-20 {
  padding-top: 20px !important;
}

.padding-top-25 {
  padding-top: 25px !important;
}

.padding-top-30 {
  padding-top: 30px !important;
}

.padding-top-35 {
  padding-top: 35px !important;
}

.padding-top-40 {
  padding-top: 40px !important;
}

.padding-top-45 {
  padding-top: 45px !important;
}

.padding-top-50 {
  padding-top: 50px !important;
}

.padding-top-55 {
  padding-top: 55px !important;
}

.padding-top-60 {
  padding-top: 60px !important;
}

.padding-right-0 {
  padding-right: 0px !important;
}

.padding-right-5 {
  padding-right: 5px !important;
}

.padding-right-10 {
  padding-right: 10px !important;
}

.padding-right-15 {
  padding-right: 15px !important;
}

.padding-right-20 {
  padding-right: 20px !important;
}

.padding-right-25 {
  padding-right: 25px !important;
}

.padding-right-30 {
  padding-right: 30px !important;
}

.padding-right-35 {
  padding-right: 35px !important;
}

.padding-right-40 {
  padding-right: 40px !important;
}

.padding-right-45 {
  padding-right: 45px !important;
}

.padding-right-50 {
  padding-right: 50px !important;
}

.padding-right-55 {
  padding-right: 55px !important;
}

.padding-right-60 {
  padding-right: 60px !important;
}

.padding-bottom-0 {
  padding-bottom: 0px !important;
}

.padding-bottom-5 {
  padding-bottom: 5px !important;
}

.padding-bottom-10 {
  padding-bottom: 10px !important;
}

.padding-bottom-15 {
  padding-bottom: 15px !important;
}

.padding-bottom-20 {
  padding-bottom: 20px !important;
}

.padding-bottom-25 {
  padding-bottom: 25px !important;
}

.padding-bottom-30 {
  padding-bottom: 30px !important;
}

.padding-bottom-35 {
  padding-bottom: 35px !important;
}

.padding-bottom-40 {
  padding-bottom: 40px !important;
}

.padding-bottom-45 {
  padding-bottom: 45px !important;
}

.padding-bottom-50 {
  padding-bottom: 50px !important;
}

.padding-bottom-55 {
  padding-bottom: 55px !important;
}

.padding-bottom-60 {
  padding-bottom: 60px !important;
}

.padding-left-0 {
  padding-left: 0px !important;
}

.padding-left-5 {
  padding-left: 5px !important;
}

.padding-left-10 {
  padding-left: 10px !important;
}

.padding-left-15 {
  padding-left: 15px !important;
}

.padding-left-20 {
  padding-left: 20px !important;
}

.padding-left-25 {
  padding-left: 25px !important;
}

.padding-left-30 {
  padding-left: 30px !important;
}

.padding-left-35 {
  padding-left: 35px !important;
}

.padding-left-40 {
  padding-left: 40px !important;
}

.padding-left-45 {
  padding-left: 45px !important;
}

.padding-left-50 {
  padding-left: 50px !important;
}

.padding-left-55 {
  padding-left: 55px !important;
}

.padding-left-60 {
  padding-left: 60px !important;
}
/* ======  column  ====== */
.column {
  width: 100%;
  margin: 0 auto;
}

.column:after {
  clear: both;
  content: ".";
  display: block;
  font-size: 0;
  height: 0;
  line-height: 0;
  min-height: 0;
  visibility: hidden;
  *zoom: 1;
}

.column [class*=col-] {
  margin-left: 1.2%;
  float: left;
}

.column [class*=col-]:first-child {
  margin-left: 0;
}

.column .col-2-1 {
  width: 49.33%;
}

.column .col-3-1 {
  width: 32.46333%;
}

.column .col-3-2 {
  width: 66.19667%;
}

.column .col-4-1 {
  width: 24.03%;
}

.column .col-4-2 {
  width: 49.33%;
}

.column .col-4-3 {
  width: 74.63%;
}

.column .col-5-1 {
  width: 18.97%;
}

.column .col-5-2 {
  width: 39.21%;
}

.column .col-5-3 {
  width: 59.45%;
}

.column .col-5-4 {
  width: 79.69%;
}

.column .col-6-1 {
  width: 15.59667%;
}

.column .col-6-2 {
  width: 32.46333%;
}

.column .col-6-3 {
  width: 49.33%;
}

.column .col-6-4 {
  width: 66.19667%;
}

.column .col-6-5 {
  width: 83.06333%;
}
@charset "UTF-8";
/*
* Option Input
*/
/*
* Input Namespace
* 
* 默认是 input ，根据喜好也可设置为 .input or input[type=text]
*/
/*
* Input Defaults
*
* 根据其他项目改变这些设置。
*
* 
*/
/*
* Input Colors
*
* (name, border-color, color)
* 
*/
/*
* Input Sizes
*
* (name width height padding font-size)
* smallest smaller small default large larger largest
*/
/*尺寸*/
.input {
  margin: 0;
  outline: none;
  vertical-align: middle;
  padding: 0 10px;
  width: 208px;
  line-height: 28px;
  *line-height: 1;
  height: 28px;
  border-style: solid;
  border-width: 1px;
  border-color: #D0D0D0;
  color: #333;
  border-radius: 3px;
}

.input:hover {
  border-color: #89d0ff;
}

.input:active,
.input:focus {
  border-color: #56BBFF;
}

/**
* Disabled State
*
*/
.input-disabled, .input[disabled] {
  background: #f3f3f3 !important;
  border-color: #dcdcdc !important;
  color: #999 !important;
  cursor: not-allowed;
}

/**
* Input colors
*
*/
.input-blue {
  border-color: #56BBFF;
  color: #56BBFF;
}

.input-blue:hover {
  border-color: #89d0ff;
  color: #56BBFF;
}

.input-blue:active, .input-blue:focus {
  border-color: #5eb9f7;
}

.input-green {
  border-color: #4AD587;
  color: #4AD587;
}

.input-green:hover {
  border-color: #73dfa2;
  color: #4AD587;
}

.input-green:active, .input-green:focus {
  border-color: #55ca88;
}

.input-orange {
  border-color: #FFA438;
  color: #FFA438;
}

.input-orange:hover {
  border-color: #ffbb6b;
  color: #FFA438;
}

.input-orange:active, .input-orange:focus {
  border-color: #f5a342;
}

.input-red {
  border-color: #F45C5C;
  color: #F45C5C;
}

.input-red:hover {
  border-color: #f78c8c;
  color: #F45C5C;
}

.input-red:active, .input-red:focus {
  border-color: #eb6565;
}

.input-grey {
  border-color: #bababa;
  color: #bababa;
}

.input-grey:hover {
  border-color: #d4d4d4;
  color: #bababa;
}

.input-grey:active, .input-grey:focus {
  border-color: #bababa;
}

/**
* Input sizes
*
*/
.input-smaller {
  width: 30px;
  padding: 0 4px;
  height: 22px;
  line-height: 22px;
  font-size: 12px;
}

.input-small {
  width: 50px;
  padding: 0 4px;
  height: 34px;
  line-height: 34px;
  font-size: 14px;
}

.input-large {
  width: 310px;
  padding: 0 14px;
  height: 38px;
  line-height: 38px;
  font-size: 16px;
}

.input-larger {
  width: 370px;
  padding: 0 14px;
  height: 34px;
  line-height: 34px;
  font-size: 16px;
}

.input-radius {
  border-radius: 200px;
}
@charset "UTF-8";
.page {
  user-select: none;
  line-height: 24px;
}

.page a {
  color: #000;
  padding: 0;
  min-width: 24px;
  text-align: center;
  text-decoration: none;
  margin-right: 0px;
  font-size: 12px;
  display: inline-block;
  vertical-align: middle;
  /*ie678 解决汉子和数字上下不对齐*/
  background-color: #fff;
  border-radius: 2px;
}

.page a.now, .page a:hover {
  background-color: #56BBFF;
  color: #fff;
}

.page a.disabled {
  color: #999999;
  cursor: not-allowed;
}

.page.page-right {
  text-align: right;
}

.page.page-right a {
  margin-right: 0;
  margin-left: -0px;
}

.page .page-prev i,
.page .page-next i {
  width: 10px;
  height: 9px;
  display: inline-block;
  *zoom: 1;
  *display: inline;
}

.page .page-next i {
  background-position: -14px -60px;
}

.page .page-go {
  border: 1px solid #DAE1E8;
  padding: 0 5px;
  margin-left: 5px;
}

.page .page-input {
  width: 20px;
  padding: 0 6px;
  border: 1px solid #DAE1E8;
  height: 24px;
  outline: none;
}

/*兼容*/
.ie6 .page a.disabled {
  background-color: transparent !important;
  color: #999;
}
.radio {
  position: relative;
}

.radio input[type=radio] {
  display: none;
}

.radio i {
  vertical-align: middle;
  display: inline-block;
  position: relative;
  margin-right: 4px;
  top: -2px;
  width: 12px;
  height: 12px;
  border-radius: 12px;
  border: 1px solid #CDCDCD;
}

.radio input[type=radio]:checked + i {
  border: 1px solid #56BBFF;
  background-color: #Fff;
}

.radio input[type=radio]:checked + i::after {
  content: '\A0';
  display: inline-block;
  background-color: #56BBFF;
  position: absolute;
  top: 2px;
  left: 2px;
  width: 8px;
  height: 8px;
  border-radius: 8px;
}

.radio input[type=radio]:disabled + i,
.radio input[type=radio]:disabled:checked + i {
  cursor: not-allowed;
  background-color: #EEE;
  border: 1px solid #CDCDCD;
}

.radio input[type=radio]:disabled + i::after,
.radio input[type=radio]:disabled:checked + i::after {
  background-color: #aaa;
}
.checkbox {
  position: relative;
}

.checkbox input[type=checkbox] {
  display: none;
}

.checkbox i {
  vertical-align: middle;
  display: inline-block;
  position: relative;
  margin-right: 4px;
  top: -2px;
  width: 12px;
  height: 12px;
  border: 1px solid #CDCDCD;
}

.checkbox input[type=checkbox]:checked + i {
  border: 1px solid #56BBFF;
  background-color: #56BBFF;
}

.checkbox input[type=checkbox]:checked + i::after {
  content: '\A0';
  display: inline-block;
  border: 2px solid #fff;
  border-top-width: 0;
  border-right-width: 0;
  width: 6px;
  height: 2px;
  transform: rotate(-50deg);
  position: absolute;
  top: 3px;
  left: 2px;
}

.checkbox input[type=checkbox]:disabled + i,
.checkbox input[type=checkbox]:disabled:checked + i {
  cursor: not-allowed;
  background-color: #EEE;
  border: 1px solid #CDCDCD;
}

.checkbox input[type=checkbox]:disabled + i::after,
.checkbox input[type=checkbox]:disabled:checked + i::after {
  border-color: #aaa;
}
.select {
  position: relative;
  width: 40px;
  height: 26px;
  overflow: hidden;
  display: inline-block;
  background-color: #fff;
  border: 1px solid #dddee1;
}

.select select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  background: transparent;
  border: none;
  height: 100%;
  line-height: 100%;
  width: 180% \9;
}

.select select::-ms-expand {
  display: none;
}
.table {
  width: 100%;
  color: #333;
  font-size: 14px;
  border: 1px solid #e2e9f0;
  background-color: #fff;
  text-align: left;
}

.table th {
  padding: 10px 0 10px 20px;
  color: #333;
  background-color: #F4F7FA;
  border-bottom: 1px solid #e2e9f0;
}

.table td {
  padding: 10px 0 10px 20px;
  vertical-align: middle;
}

.table tbody tr {
  border-bottom: 1px solid #e2e9f0;
}
