@import "../../theme/index.scss";

.radio {
  position: relative;
}

.radio input[type=radio] {
  display: none;
}

// 边框样式
.radio i {
  vertical-align: middle;
  display: inline-block;
  position: relative;
  margin-right: 4px;
  top: -2px;
  width: 12px;
  height: 12px;
  border-radius: 12px;
  border: 1px solid #CDCDCD;
}

// 选中后边框样式
.radio input[type=radio]:checked + i {
  border: 1px solid $blue;
  background-color: #Fff;
}

// 选中后圆心状态
.radio input[type=radio]:checked + i::after {
  content: '\00a0';
  display: inline-block;
  background-color: $blue;
  position:absolute;
  top: 2px;
  left: 2px;
  width: 8px;
  height: 8px;
  border-radius: 8px;
}


// 禁用状态
.radio input[type=radio]:disabled+i, 
.radio input[type=radio]:disabled:checked+i{
  cursor: not-allowed;
  background-color: #EEE;
  border: 1px solid #CDCDCD;
  
}
.radio input[type=radio]:disabled+i::after, 
.radio input[type=radio]:disabled:checked+i::after {
  background-color: #aaa;
}