.clear:after {
  content: "\20";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

.clear {
  *zoom: 1; }

.on-left {
  float: left !important; }

.on-right {
  float: right !important;
}

.block {
  display: block; }

.inline {
  display: inline-block;
  zoom: 1;
  *display: inline; }

.none {
  display: none !important; }

.hidden {
  overflow: hidden; }
.visible{
  visibility: visible;
}
.vhidden {
  visibility: hidden;
}