@import "../../theme/index.scss";

$page-radius: 2px;
$page-color: #000;
$page-border-color: #DAE1E8;
$page-now-backgrond-color: $blue;
$page-border-width: 0px;
$page-size: 24px;

.page {
  user-select:none;
  // height: $page-size - $page-border-width;
  line-height: $page-size - $page-border-width;
}
.page a {
  color: $page-color;
  padding:0;
  min-width: $page-size;
  text-align: center;
  text-decoration: none;
  margin-right: 0px;
  font-size: 12px;
  display: inline-block;
  vertical-align: middle; /*ie678 解决汉子和数字上下不对齐*/
  background-color: #fff;
  border-radius: $page-radius;
  // border: $page-border-width solid $page-border-color;
}
// .page a:first-child {
//   border-top-left-radius: $page-radius;
//   border-bottom-left-radius: $page-radius;
// }
// .page a:last-child {
//   border-top-right-radius: $page-radius;
//   border-bottom-right-radius: $page-radius;
// }
.page a.now,.page a:hover {
  background-color: $page-now-backgrond-color;
  color: #fff;
}
.page a.disabled {
  color: #999999;
  cursor: not-allowed;
}
.page.page-right{
  text-align: right;
}
.page.page-right a {
  margin-right: 0;
  margin-left: -#{$page-border-width};
}

.page .page-prev i,
.page .page-next i {
  // background: url(../images/form.png) no-repeat 0 -60px;
  width: 10px;
  height: 9px;
  display: inline-block;
  *zoom: 1;
  *display: inline;
}
.page .page-next i {
  background-position: -14px -60px;
}


.page .page-go {
  border: 1px solid $page-border-color;
  padding:0 5px;
  margin-left: 5px;
}

.page .page-input {
  width: 20px;
  padding:0 6px;
  border: 1px solid $page-border-color;
  height: $page-size;
  outline: none;
}

/*兼容*/
.ie6 .page a.disabled{
  background-color: transparent !important;
  color: #999;
}