$blue: #56BBFF;

$green: #4AD587;

$orange: #FFA438;

$red: #F45C5C;

$grey: #bababa;

$dark: #3f3f4d;

$link: #25A7FF;
$disabled: #CDCDCD;

$input-border-color: #CDCDCD;

$text: #333;
$text-light: #999;
$text-dark: #333333;

$radius: 3px;

$theme: $blue;
$theme-bg: #ecf1f5;

$c000: #000;
$c555: #555;
$c777: #777;
$c999: #999;