@import "../../theme/index.scss";

.checkbox {
  position: relative;
}

.checkbox input[type=checkbox] {
  display: none;
}

// 边框样式
.checkbox i {
  vertical-align: middle;
  display: inline-block;
  position: relative;
  margin-right: 4px;
  top: -2px;
  width: 12px;
  height: 12px;
  border: 1px solid #CDCDCD;
}

// 选中后边框样式
.checkbox input[type=checkbox]:checked + i {
  border: 1px solid $blue;
  background-color: $blue;
}

// 选中后圆心状态
.checkbox input[type=checkbox]:checked + i::after {
  content: '\00a0';
    display: inline-block;
    border: 2px solid #fff;
    border-top-width: 0;
    border-right-width: 0; 
    width: 6px;
    height: 2px;
    transform: rotate(-50deg);
    position: absolute;
    top:3px;
    left:2px;
}


// 禁用状态
.checkbox input[type=checkbox]:disabled+i, 
.checkbox input[type=checkbox]:disabled:checked+i{
  cursor: not-allowed;
  background-color: #EEE;
  border: 1px solid #CDCDCD;
  
}
.checkbox input[type=checkbox]:disabled+i::after, 
.checkbox input[type=checkbox]:disabled:checked+i::after {
  border-color: #aaa;
}