$line-namespace: '.line';
$line-widths: (1 2 3);
$line-positions: (top right bottom left);
$line-styles: (dashed dotted solid);
$line-colors: (dashed dotted solid);


// <div class="line line-bottom line-dashed line-1"></div>

#{$line-namespace} {
  
}

@each $line-width in $line-widths {
  $border-width: $line-width;

  #{$line-namespace}-#{$border-width} {
    border-width: $border-width+px;
  }
}

@each $line-position in $line-positions {
  
}
