/*修复 placeholder*/
.support-place-holder {
  position: relative;
}
.support-place-holder-text {
  position: absolute;
  left: 0;
  text-align: left;
  font-weight: normal;
  text-decoration: none;
  font-style: normal;
  color: #969696;
  z-index: 1;
  border: none;
}