
body.ppmui-site {
  color: #333;
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: PingHei,"Lucida Grande","Lucida Sans Unicode",Helvetica,Arial,Verdana,sans-serif;
}

.ppmui-site * {
  margin: 0;
  padding: 0;
  font-weight: 400;
  list-style: none;
}

.ppmui-site .page-center {
  max-width: 960px;
  min-width: 640px;
  margin: 0 auto;
  padding: 0 20px;
}

.ppmui-site .relative {
  position: relative
}

.doc-logo {
  color: #fff;
  font-size: 22px;
  line-height: 50px;
  height: 50px;
}


#docs h2 {
  font-size: 16px;
  margin-bottom: 15px;
  color: #666;
  border-bottom: 1px solid #eee;
  padding-bottom: 20px;
}

#docs .docs-html {
  margin-bottom: 15px;
}

#docs .docs-code {
  margin-bottom: 45px;
  background-color: #f7faff;
  line-height: 18px;
  padding: 15px;
}

#docs .docs-table {
  border-collapse: collapse;
  border-spacing: 0;
  color: #333;
  font-size: 14px;
  border: 1px solid #e2e9f0;
  background-color: #fff;
  text-align: left;
}

#docs .docs-table th ,#docs .docs-table td {
  padding: 10px 20px;
  color: #333;
  border: 1px solid #e2e9f0;
  vertical-align: middle;
}

#docs .docs-table th {
  background-color: #F4F7FA;
}

#docs .docs-table tbody tr {
  border-bottom: 1px solid #e2e9f0;
}

.common-header {
  height: 50px;
}
.common-header {
  background-color: #2DBF7D;
}
.theme-teacher .common-header {
  background-color: #45A1F5;
}
.common-header a{
  text-decoration: none;
}
.common-header a:hover{
  cursor: pointer;
  text-decoration: none;
}

.common-header .on-right {
  float: right;
}

.common-header .common-logo {
  margin: 5px 0 0 10px;
}

.common-header-user{
  font-size: 12px;
  float: right;
  margin: 15px 20px 0 0;
}
.common-header-user img{
  border-radius: 50%;
  margin-right: 5px;
}

.common-header a {
  color: #ECF1F5;
}

.common-header .c7cbbf2 {
  color: #7cbbf2;
}

.common-header .margin-right-5 {
  margin-right: 5px;
}

.common-header img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
  font-size: 0;
}
.common-header .logo-white{
  margin-top: 5px;
}
.common-header-white {
  background-color: #FFFFFF;
}

.common-header .vline{
  border-left: 1px solid #4CCA9A;
  height: 20px;
  margin-left: 7px;
  padding-left: 10px;
  display: inline-block;
  *zoom: 1;
  *display: inline;
}

/*公共底部*/
.common-footer {
  background-color: #FFFFFF;
  text-align: center;
  padding: 40px 0;
}
.common-footer p{
  font-size: 14px;
  line-height: 26px;
  margin:0;
  padding:0;
}

.common-card {
  background-color: #fff;
  border: 1px solid #e2e9f0;
}
.common-nav {
  position: absolute;
  left: 20px;
  top: 0;
  width: 150px;
  transition: width 0.3s;
}
.common-nav .u-menu {
  margin-top: 20px;
}
.common-nav li {
  margin-bottom: 15px;
}
.common-nav li strong {
  font-size: 11px;
  color: #999;
  display: block;
  margin-bottom: 20px;
}
.common-nav li ul {
  margin-bottom: 30px;
}
.common-nav li a {
  font-size: 16px;
  color: #000;
  display: block;
  margin: 0 auto;
  text-transform: capitalize;
  text-decoration: none;
}
.common-nav li a:hover,
.common-nav li a.now {
  color: #2DBF7D;
}
.common-nav li a span {
  line-height: 22px;
  display: inline-block;
  *zoom: 1;
  *display: inline;
  width: 80px;
}
.u-out {
  text-align: center;
}
.u-more {
  background-color: #314555;
  padding: 8px 0;
}
.u-user {
  margin-top: 40px;
}
.u-imgout {
  padding: 6px;
  display: inline-block;
  *zoom: 1;
  *display: inline;
  border: 1px solid #6A7F8F;
  border-radius: 50%;
  transition: padding 0.3s;
  position: relative;
}
.u-imgout img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  transition: width 0.3s, height 0.3s;
}
.u-setting-head {
  display: block;
  width: 30px;
  height: 30px;
  line-height: 28px;
  background: #FFFFFF;
  border-radius: 15px;
  position: absolute;
  right: 0;
  bottom: 0;
  box-shadow: 0 1px 3px #333;
}
.common-main-out {
  width: 100%;
}
.common-main {
  margin-left: 150px;
  padding: 20px 0 0 20px;
  transition: margin-left 0.3s;
}
.common-nav-min .common-nav {
  width: 60px;
  overflow-x: hidden;
}
.common-nav-min .common-nav li a {
  width: 40px;
  margin: 0 10px;
  padding-left: 0;
  border-radius: 20px;
  text-align: center;
}
.common-nav-min .common-nav li a i {
  position: static;
  margin-top: 0;
}
.common-nav-min .common-nav li a span {
  display: none;
}
.common-nav-min .common-nav .u-menu {
  margin-top: 105px;
}
.common-nav-min .common-nav .u-imgout img {
  width: 40px;
  height: 40px;
}
.common-nav-min .common-nav .u-imgout {
  padding: 3px;
}
.common-nav-min .common-nav .u-name {
  display: none;
}
.common-nav-min .common-nav .u-setting-head {
  display: none;
}
.common-nav-min .common-nav .icon-large-nav {
  background-position: 0 -22px;
}
.common-nav-min .common-main {
  margin-left: 60px;
}
.stu-home {
  display: block;
  height: 208px;
  border: 1px solid #E0E9EF;
  background-color: #fff;
  text-align: center;
  transition: border-color .3s, transform .3s;
}
.stu-home:hover {
  border-color: #50B3F6;
}
.stu-home img {
  margin-top: 46px;
}
.stu-home:hover {
  transform: scale(1.03);
}
.stu-home span {
  display: block;
  color: #333;
  font-size: 16px;
  margin-top: 12px;
}
.table-header {
  height: 56px;
  line-height: 56px;
  background-color: #fff;
  border: 1px solid #E1E9EF;
  border-bottom-width: 0;
  padding: 0 15px;
}
.table-header .button {
  margin-top: 18px;
  color: #999999;
  min-width: 40px;
}
.table-header-small {
  height: 38px;
  line-height: 38px;
  padding: 0 10px;
}
.table-header-search {
  height: auto;
  line-height: 100%;
  /*padding: 15px;*/
  
  padding: 15px 15px 0 15px;
}
.table-header-search .select,
.table-header-search .date {
  margin-bottom: 15px;
}
.table-header-search .align-middle-text {
  line-height: 30px;
  vertical-align: top;
}
.table-search {
  position: relative;
}
.table-search .input {
  border-radius: 15px;
  padding-right: 40px;
  width: 178px;
  float: right;
}
.table-search-button {
  width: 30px;
  border-radius: 15px;
  background-color: #46a2f6;
  display: block;
  text-align: center;
  line-height: 30px;
  position: absolute;
  right: 0;
  top: 0;
}
.common-table {
  transition: height 0.3s;
}
.common-table .table-header {
  border-bottom-width: 1px;
}
.common-table .table {
  border-top-width: 0;
}
.toggle-table {
  margin-top: 8px;
  background-position: -132px -22px;
}
.toggle-table:hover {
  background-position: -176px -22px;
}
.common-table-open .toggle-table {
  background-position: -110px -22px;
}
.common-table-open .toggle-table:hover {
  background-position: -154px -22px;
}
.toggle-show {
  background-position: -132px -22px;
}
.toggle-show:hover {
  background-position: -176px -22px;
}
.toggle-show-open .toggle-show {
  background-position: -110px -22px;
}
.toggle-show-open .toggle-show:hover {
  background-position: -154px -22px;
}
.table-body {
  height: 0;
  overflow: hidden;
}
.common-table-open .table-body {
  height: auto;
}

