.progress{
	height: 20px;
	line-height: 20px;
  border:4px solid var(--grey-light);
	background-color: $theme-bg;
}
.progress-bar{
	background-color: $green;
	color: #fff;
  text-indent: 10px;
  transition: width 0.3s;
}

.progress-small{
  height: 14px;line-height: 14px;
}

.progress.radius{
  border-radius: 20px;
  overflow: hidden;
}
